/node_modules
/public/hot
/public/storage
/public/upload
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.jpeg
package-lock.json
pal_news.zip
public/ww.php
public/ajax.html
salon.zip
/public/storage
/storage/*.key
public/
!public/index.php
!public/mix-manifest.json